@import '/style/variables.scss';

.wrapper {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem $color-white;
    text-decoration: none;
    background-color: $color-white;
    color: $color-black;
}

.imageWrapper {
    width: fit-content;
    height: 3rem;
    border-radius: 1rem;
    background-color: $color-main-text;
}

.image {
    width: fit-content;
    height: 3rem;
    object-fit: contain;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.serviceName {
    font-size: 1.5rem;
    font-weight: bold;
}

.accountName {
    color: $color-gray;
}

.at {
    margin-right: .25em
}